<div class="order-details">
  <div class="product-info-container">
    <table>
      <tr *ngFor="let item of items">
        <td>
          <div class="info-container">
            <div class="product-image">
              <div class="quantity-circle">{{ item.quantity }}</div>
              <img src="{{ item.imageUrl }}" alt="The Product" />
            </div>

            <div class="product-info">
              <p>{{ item.title }}</p>
              <p>R {{ item.price }}</p>
            </div>
          </div>
        </td>
        <td class="total-amount">
          <span>R {{ item.price * item.quantity }}</span>
        </td>
      </tr>
    </table>
  </div>
  <div class="wrapper">
    <div class="subtotal-container">
      <div class="sub-head">
        <p>Subtotal</p>
        <span class="total-amount">R {{ cartTotals.subtotal }}</span>
      </div>
      <div class="sub-head">
        <p>Shipping</p>
        <span class="total-amount">R {{ cartTotals.shipping }}</span>
      </div>
    </div>
    <div class="total-container">
      <p>Total</p>
      <span>R {{ cartTotals.total }}</span>
    </div>
  </div>
</div>
