<table>
  <tr>
    <th>Product</th>
    <th class="quantity-info-head">Quantity</th>
    <th class="total-info-head">Total</th>
  </tr>
  <tr *ngFor="let item of items" class="table-data">
    <td>
      <div class="info-container">
        <div class="product-image">
          <img src="{{ item.imageUrl }}" alt="The Product" />
        </div>

        <div class="product-info">
          <a routerLink="/shop/product/{{ item.id }}">{{ item.title }}</a>
          <p>R {{ item.price }}</p>
        </div>
      </div>
    </td>
    <td>
      <div class="quantity">
        <div class="input-wrapper">
          <button (click)="decrementCartItem(item)">-</button>
          <div class="quantity-wrapper">
            <span>{{ item.quantity }}</span>
          </div>
          <button (click)="incrementCartItem(item)">+</button>
        </div>

        <fa-icon
          (click)="removeCartItem(item)"
          class="trash-icon"
          [icon]="Trash"
        ></fa-icon>
      </div>
    </td>
    <td class="total-info-amount">
      <span>R {{ item.price * item.quantity }}</span>
    </td>
  </tr>
</table>
