section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 50px 150px;
  min-height: 100vh;
}

.accordion-item {
  border-bottom: 2px solid rgb(161, 161, 161);
}

.question-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  min-height: 30px;
  cursor: pointer;
}

.question {
  margin: 0 20px 0 0;
  color: rgb(69, 68, 68);
  font-weight: 600;
}

.question1 {
  color: black;
  font-weight: 700;
}

.answer-container {
  min-height: 30px;
  padding: 15px 10px;
  display: flex;
  align-items: center;
  display: none;
}

.answer-container p {
  font-weight: 600;
  font-size: 1.1rem;
}

.faqIcons {
  font-size: 1.4rem;
  color: black;
}

.visible {
  border-top: 2px solid grey;
  border-bottom: 3px solid black;
  display: block;
}

@media screen and (max-width: 901px) {
  section {
    padding: 160px 50px 150px;
  }
}

@media screen and (max-width: 550px) {
  section {
    padding: 160px 10px 150px;
  }
}
