<div class="wrapper">
  <h1 class="main-heading">Shop Products</h1>
  <div class="shop-container">
    <ng-container
      *ngFor="
        let product of products.products
          | paginate
            : {
                itemsPerPage: products.itemsPerPage,
                currentPage: products.currentPage,
                totalItems: products.totalItems
              }
      "
    >
      <a [routerLink]="['/shop/product', product.id]">
        <div class="product-container">
          <div class="image-container">
            <img [src]="product.imageUrl" alt="Product Image" />
          </div>
          <div class="info-container">
            <h2>{{ product.title }}</h2>
            <span>R {{ product.price }}</span>
          </div>
        </div>
      </a>
    </ng-container>
  </div>
  <pagination-controls
    (pageChange)="pageChange.emit($event)"
  ></pagination-controls>
</div>
