<section>
  <h1 class="main-heading">Where to Find Us</h1>
  <div class="container">
    <div class="map-container">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13870.781623233046!2d31.0493835!3d-29.6415887!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ef71b6e556f5223%3A0xa4af22483500df53!2sMH%20Manufacturers%20pty%20ltd!5e0!3m2!1sen!2sza!4v1677167745803!5m2!1sen!2sza"
        loading="lazy"
        referrerpolicy="same-origin"
      ></iframe>
    </div>
    <div class="detail-container">
      <ul>
        <h4>Opening Hours</h4>
        <li>Mon: 8:00 am - 4:30 pm</li>
        <li>Tue: 8:00 am - 4:30 pm</li>
        <li>Wed: 8:00 am - 4:30 pm</li>
        <li>Thu: 8:00 am - 4:30 pm</li>
        <li>Fri: 8:00 am - 3:00 pm</li>
        <li>Sat: 8:00 am - 3:30 pm</li>
        <li>Sun: Closed</li>
      </ul>
      <ul>
        <h4>Address</h4>
        <li>2 Court Lane</li>
        <li>Verulam</li>
        <li>4339</li>
        <li>Durban</li>
      </ul>
    </div>
  </div>
</section>
