section {
  display: flex;
  justify-content: center;
  padding: 250px 20px 150px;
  min-height: 100vh;
  gap: 20px;
  position: relative;
}

.back-btn {
  position: absolute;
  top: 190px;
  left: 50px;
  font-size: 2.5rem;
  cursor: pointer;
}

.image-container img {
  width: 550px;
  height: 540px;
  object-fit: cover;
}

.info-container {
  max-width: 40%;
}

.category {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: var(--F2);
  margin-bottom: 10px;
}

.title {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.tax {
  color: var(--F2);
  font-weight: 400;
}

.price {
  font-size: 1.2rem;
  letter-spacing: 1.3px;
  margin-bottom: 10px;
  font-weight: 500;
}

.quantity-container {
  margin: 15px 0 20px;
}

.quantity-container p {
  margin-bottom: 5px;
  color: var(--F2);
}

.info-container > button {
  width: 80%;
  height: 50px;
  background-color: transparent;
}

.info-container > button:hover {
  border: 3px solid black;
  cursor: pointer;
}

.description {
  margin-top: 30px;
  font-size: 1.1rem;
  letter-spacing: 0.6px;
  color: var(--F2);
}

/* Input Quantity Component */

.input-wrapper {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  height: 50px;
  width: 160px;
}

.quantity-wrapper {
  display: flex;
  align-items: center;
}

.quantity-wrapper span {
  font-size: 1.2rem;
  font-weight: 600;
}

.input-wrapper button {
  width: 100%;
  background-color: transparent;
  font-size: 1.6rem;
  cursor: pointer;
  border: none;
}

/* -------------------------------- */

@media only screen and (max-width: 950px) {
  .image-container img {
    width: 450px;
    height: 440px;
  }
}

@media only screen and (max-width: 800px) {
  section {
    flex-direction: column;
    align-items: flex-start;
    padding: 200px 60px 150px;
  }
  .info-container {
    max-width: 450px;
  }
  .back-btn {
    top: 140px;
    left: 45px;
  }
}

@media only screen and (max-width: 580px) {
  section {
    padding: 200px 40px 150px;
  }
  .image-container img {
    width: 400px;
    height: 420px;
  }
}

@media only screen and (max-width: 490px) {
  section {
    padding: 200px 20px 150px;
  }
  .image-container img {
    width: 360px;
    height: 380px;
  }
  .back-btn {
    top: 140px;
    left: 20px;
  }
}

@media only screen and (max-width: 430px) {
  section {
    padding: 200px 15px 200px;
  }
  .image-container img {
    width: 320px;
    height: 370px;
  }
}

@media only screen and (max-width: 390px) {
  .image-container img {
    width: 300px;
    height: 360px;
  }
}
