<section>
  <h1 class="main-heading">Contact Us</h1>
  <div class="container">
    <div class="left">
      <div class="info-container">
        <div class="details-container">
          <fa-icon [icon]="Phone"></fa-icon>
        </div>
        <div class="text-container">
          <p>087-148-3271</p>
        </div>
      </div>

      <div class="info-container">
        <div class="details-container">
          <fa-icon [icon]="Email"></fa-icon>
        </div>
        <div class="text-container">
          <p>mail@mhexpress.co.za</p>
        </div>
      </div>

      <div class="info-container">
        <div class="details-container">
          <fa-icon [icon]="Location"></fa-icon>
        </div>
        <div class="text-container">
          <p>Durban, South Africa</p>
        </div>
      </div>
    </div>
    <div class="right">
      <form (ngSubmit)="onSubmit()" [formGroup]="contactUs">
        <div class="form-group">
          <input
            formControlName="name"
            placeholder="Name"
            type="text"
            id="name"
          />
        </div>
        <div class="form-group">
          <input formControlName="email" placeholder="Email" type="email" />
        </div>
        <div class="form-group">
          <textarea
            formControlName="message"
            placeholder="Message..."
          ></textarea>
        </div>
        <button
          class="contact-btn"
          [disabled]="contactUs.invalid"
          type="submit"
        >
          Send
        </button>
      </form>
    </div>
  </div>
</section>
