section {
  display: flex;
  flex-direction: column;
  padding: 200px 10px 80px;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.right {
  width: 55%;
}

/*Contact Form CSS*/

form {
  width: 100%;
}

input,
textarea {
  width: 100%;
  font-size: 1.2rem;
  padding: 1rem;
  outline: none;
  border: 1px solid black;
  border-radius: 8px;
}

textarea {
  min-height: 200px;
  resize: vertical;
}

input::placeholder,
textarea::placeholder {
  color: black;
  font-weight: 500;
}

.form-group {
  width: 100%;
  margin-bottom: 1rem;
}

.contact-btn {
  margin-top: 25px;
  width: 120px;
  height: 50px;
  color: black;
  border: 3px solid black;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.contact-btn:hover {
  background-color: white;
}

/* Contact Details */

.info-container {
  background-color: var(--FormC1);
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border-radius: 8px;
  padding: 0.8rem 1.2rem;
  margin-bottom: 0.8rem;
}

.details-container {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

fa-icon {
  color: black;
  font-size: 1.4rem;
}

p {
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
  cursor: text;
}

@media screen and (max-width: 900px) {
  section {
    padding: 170px 30px 80px;
  }

  .container {
    flex-direction: column;
  }
  .right {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  section {
    padding: 150px 10px 80px;
  }
}
