<nav appNavScroll *ngIf="hide.visible">
  <div class="nav-container">
    <div class="bar-container">
      <fa-icon
        *ngIf="!isBarOpened"
        (click)="toggleBar()"
        class="bars"
        [icon]="Bars"
      ></fa-icon>
      <fa-icon
        *ngIf="isBarOpened"
        (click)="toggleBar()"
        class="bars"
        [icon]="Close"
      ></fa-icon>
    </div>
    <div class="title-div">
      <h1 class="title" (click)="navigateToHome()">MH Express</h1>
    </div>
    <div (click)="navigateToCart()" class="cart-container">
      <fa-icon class="bag" [icon]="Bag"></fa-icon>
      <ng-container *ngIf="cart$ | async as cart">
        <div *ngIf="cart.itemsInCart >= 1" class="cart-quantity">
          {{ cart.itemsInCart }}
        </div>
      </ng-container>
    </div>
  </div>
  <ul [ngClass]="{ activeBar: isBarOpened, notActiveBar: !isBarOpened }">
    <li>
      <a
        routerLink="/"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        >Home</a
      >
    </li>
    <li>
      <a
        routerLink="/shop/all"
        [queryParams]="{ page: 1 }"
        routerLinkActive="active"
        >Shop</a
      >
    </li>
    <li><a routerLink="/faq" routerLinkActive="active">Faq</a></li>
    <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
  </ul>
</nav>
