<section *ngIf="product">
  <div class="back-btn" (click)="back()">
    <fa-icon class="back" [icon]="Back"></fa-icon>
  </div>
  <div class="image-container">
    <img [src]="product.imageUrl" alt="Product image" />
  </div>
  <div class="info-container">
    <p class="category">{{ product.categoryName }}</p>
    <p class="title">{{ product.title }}</p>
    <p class="price">R {{ product.price }}</p>
    <p class="tax">Tax included. Shipping calculated at checkout.</p>
    <div class="quantity-container">
      <p>Quantity</p>
      <div class="input-wrapper">
        <button (click)="decrementQuantity()">-</button>
        <div class="quantity-wrapper">
          <span>{{ quantity }}</span>
        </div>
        <button (click)="incrementQuantity()">+</button>
      </div>
    </div>
    <button (click)="addToCart(product)">Add to Cart</button>
    <p class="description">{{ product.description }}</p>
  </div>
</section>
